{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" href="{% static 'main/css/style_thanks.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>thanks for the request</title>
</head>
<body>
  <style>
  body {
    background-image: url({% static 'main/images/bacground-img-thanks.jpg' %});
  }
</style>  
<div class="conteiner">
<H1>спасибо,</H1>
<h2>мы получили вашу заявку</h2>
<div class="line"></div>
<h3>в ближайшее время с вами свяжется 
  наш специалист для уточнения деталей</h3>  
</div>
</body>
</html>